/**
* Project Name: PlayLoksewa
* Author: sandip olee
*/

:root {
    --primary: #27AE60;
    --dark: #333333;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,600;0,700;1,300&display=swap');

/*--------------------------------------------------------------
# scrolbar
--------------------------------------------------------------*/

::-webkit-scrollbar {
    width: 8px;
}

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(181, 185, 187);
}

 ::-webkit-scrollbar-thumb {
    background: rgba(80, 80, 80, 0.63);
}

 ::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}

html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*====== header and nav bar ====  */

.header {
    height: 48px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 15px 50px 0 50px;
    position: fixed;
    background: #ffffff;
    width: 100vw;
}

.bars {
    display: none;
}

.logo {
    float: left;
    width: 240px;
    margin: 0;
}

nav {
    position: relative;
    margin-top: 5px;
    float: right;
    padding: 0;
}

nav ul {
    margin: 0;
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0;
    padding: 0 0 0 70px;
}

nav ul li a {
    margin: 0;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    color: var(--dark);
}

@media only screen and (max-device-width: 568px) {
    .header {
        height: 48px;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        padding: 10px 10px 0 20px;
        z-index: 99;
    }
    .bars {
        float: left;
        display: block;
    }
    .bars i {
        font-size: 2rem;
        color: var(--primary);
    }
    .logo {
        float: right;
        width: 200px;
        margin-right: 15%;
        margin-top: 0;
    }
    nav {
        position: absolute;
        width: 100%;
        left: 0;
        top: 48px;
        padding: 0px 0 50px 0;
        margin-top: 12px;
    }
    .nav-bar {
        left: -900px;
        transition: 0.5s;
    }
    .nav-toggle {
        transition: 0.5s;
        left: 0;
    }
    nav ul {
        display: block;
        padding: 0;
        padding: 0;
    }
    nav ul li {
        margin: 0;
        padding: 10px 20px 10px 20px;
        border-bottom: solid 1px rgba(0, 0, 0, 0.151)
    }
}

#s1 {
    height: 200vh;
}